<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee List</title>
    <link rel="stylesheet" href="/css/list.css">
    <style>
        .edit-btn {
            background-color: #ffc107; /* Yellow */
            color: black;
            border: none;
            
            cursor: pointer;
        }
    </style>
</head>
<body>
<h1>Employee List</h1>
<a th:href="@{/employees/add}">Add Employee</a>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.department}"></td>
            <td th:text="${employee.designation}"></td>
            <td th:text="${employee.email}"></td>
            <td>
                    <a th:href="@{/employees/{id}/edit(id=${employee.id})}">
                        <button type="button" class="edit-btn">Edit</button>
                    </a>
            </td>
        </tr>
    </tbody>
</table>
<div class="navigation-links">
    <a th:href="@{/admin/dashboard}">Back to Admin Dashboard</a>
</div>

</body>
</html>