<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${manager.id == null} ? 'Add Manager' : 'Edit Manager'">Add Manager</title>
    <link rel="stylesheet" href="/css/add.css">
</head>
<body>
    <h1 th:text="${manager.id == null} ? 'Add Manager' : 'Edit Manager'">Add New Manager</h1>
    
    <form th:action="${manager.id == null} ? @{/managers} : @{/managers/{id}/edit(id=${manager.id})}" 
          th:object="${manager}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:value="${manager.name}" required>
        <br><br>
        
        <label for="department">Department:</label>
        <input type="text" id="department" name="department" th:value="${manager.department}" required>
        <br><br>

        
        <br><br>

        <button type="submit" th:text="${manager.id == null} ? 'Save Manager' : 'Update Manager'">Save Manager</button>
    </form>
    <div class="navigation-links">
        <a th:href="@{/managers}">Back to Manager List</a>
        
    </div>
</body>
</html>
