<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manager List</title>
    <link rel="stylesheet" href="/css/list.css">
    <style>
        .edit-btn {
            background-color: #ffc107; /* Yellow */
            color: black;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<h1>Manager List</h1>
<a th:href="@{/managers/add}">Add Manager</a>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="manager : ${managers}">
            <td th:text="${manager.id}"></td>
            <td th:text="${manager.name}"></td>
            <td th:text="${manager.department}"></td>
            <td>
                    <a th:href="@{/managers/{id}/edit(id=${manager.id})}">
                        <button type="button" class="edit-btn">Edit</button>
                    </a>
            </td>
        </tr>
    </tbody>
</table>
<div class="navigation-links">
    <a th:href="@{/admin/dashboard}">Back to Admin Dashboard</a>
</div>

</body>
</html>